
@include extjs-menu-ui(
    $ui: 'iknow-menu', 
    $ui-text-color:#333333, 
    $ui-item-active-text-color:#666666, 
    $ui-border-color:#f3f5fa, 
    $ui-border-width:1px, 
    $ui-item-active-background-color:#f2f2f2, 
    $ui-item-active-glyph-color:#008beb 
);

.x-menu-item-iknow-menu .x-menu-item-icon-iknow-menu{
    color:#008beb;
}